<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="../../static/assets/vendor/css/pages/authentication.css">
        <link rel="stylesheet" href="../../static/assets/vendor/fonts/fontawesome.css">
        <link rel="stylesheet" href="../../static/assets/vendor/fonts/ionicons.css">
        <link rel="stylesheet" href="../../static/assets/vendor/fonts/linearicons.css">
        <link rel="stylesheet" href="../../static/assets/vendor/fonts/open-iconic.css">
        <link rel="stylesheet" href="../../static/assets/vendor/fonts/pe-icon-7-stroke.css">
        <!-- Core stylesheets -->
        <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
        <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
        <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
        <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
        <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/uikit.css">
        <link rel="stylesheet" href="../../static/assets/vendor/libs/datatables/datatables.css">
        <title>Se connecter</title>
    </head>
<body>
    <div class="authentication-wrapper authentication-3">
        <div class="authentication-inner">

            <!-- Side container -->
            <!-- Do not display  the container on extra small, small and medium screens -->
            <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('{% static 'images/agence.png' %}');">
                <div class="ui-bg-overlay bg-dark opacity-50"></div>

                <!-- Text -->
                <div class="w-100 text-white px-5">
                    <h1 class="display-2 font-weight-bolder mb-4">Myges <br>à porté de vos mains</h1>
                    <div class="text-large font-weight-light">

                    </div>
                </div>
                <!-- /.Text -->
            </div>
            <!-- / Side container -->






            <!-- Form container -->
            <div class="d-flex col-lg-4 align-items-center bg-white p-5" style="background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);">
                <!-- Inner container -->
                <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
                <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
                    <div class="w-100">

                        <!-- Logo -->
                        <div class="d-flex justify-content-center align-items-center">
                            <img src='../../static/images/GES_logo.png' alt class="app-brand-logo ui-w-80" >
                            <!--<div class="ui-w-60">
                                <div class="w-100 position-relative" style="padding-bottom: 54%">
                                    <svg class="w-100 h-100 position-absolute" viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path class="fill-primary" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
                                </div>
                            </div>-->
                        </div>
                        <!-- / Logo -->

                        <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0" style="color:white">Connectez-vous à votre compte</h4>

                        {% if form.errors %}
                            <p style="color:red">Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                        {% endif %}
                        <!-- Form -->
                        <form class="my-5" action="" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label d-flex justify-content-between align-items-end" for="inputPassword">
                                    <div style="color:white">Username</div>
                                </label>
                                <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                            </div>
                            <div class="form-group">
                                <label class="form-label d-flex justify-content-between align-items-end" for="inputPassword">
                                    <div style="color:white">Mot de passe</div>
                                    <a href="{% url 'password_reset' %}" class="d-block small" style="color:white">Mot de passe oublié ?</a>
                                </label>
                                <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
                            </div>

                            <div class="d-flex justify-content-between align-items-center m-0">
                                <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" class="custom-control-input" name="_remember_me">
                                </label>
                                <button type="submit" class="btn btn-primary" style="color:white">Se connecter</button>
                                <input type="hidden" name="next" value="{{ '/' }}">
                            </div>

                        </form>
                        <!-- / Form -->

                    </div>
                </div>
            </div>
            <!-- / Form container -->

        </div>
    </div>
</body>
</html>