<style>
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
}
</style>

<!-- copyright -->
<footer class="copyright py-3 text-center">
<div>
    <p>Copyright ©2021 <a href="/" target="=_blank"> MYGES </a> <br/> Tous droits réservés</p>
</div>
</footer>
<!-- //copyright -->
