{% load static %}
<header style="background-color: rgba(255, 255, 255, 0.7)">
	<div class="container">
		<!-- nav -->
		<nav class="py-md-4 py-3 d-lg-flex">
			<div id="logo">
				<h1 class="mt-md-0 mt-2"> <a href="/"><img src="{% static 'images/GES_logo.png' %}" alt="cristal" height="50"></a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="/">Accueil</a></li>
				<li class=""><a href="{% url 'promotion-list' %}">Scolarité</a></li>
				<li class=""><a href="{% url 'class-list' %}">classes</a></li>
				<li class=""><a href="{% url 'subject-list' %}">sujets</a></li>
                {% if currentUser.is_authenticated %}
				<li class="" style="margin-right: 25px;margin-left:25px">Bienvenue {{ currentUser.username }}</li>
                    <li class="booking">
                        <a href="accounts/logout">Se déconnecter</a>
                    </li>
                {% else %}
                <li class="booking"><a href="accounts/login">Se connecter</a></li>
                {% endif %}
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>