{% load static %}
<html lang="en">
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<title>Cristal - Association Entreprise EPITA Paris</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
</head>
<body>
{% include "myapp/layouts/header.html" %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
    <div class="container-fluid">
        <h2 class="my-5 text-center">Gestion des Classe</h1>
            <a href="add">
                <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-folder-open"></span>
                        <p class="count-text text-uppercase">Créer une classe</p>
                   </div>
              </div>
                </a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>
    
            <tbody>
                {% for class in object_list %}
                <tr>
                    <td>{{class.name}}</td>
                   
                    <td class="text-center">
                        <span class="badge badge-dark">{{class.capacity}}</span>
                    </td>
                    <td>
                        
                        <a href="{{ class.id }}" class="btn btn-primary">
                        <i class="fas fa-edit"></i></a>
                        <a href="{{ class.id }}/delete" class="btn btn-danger mt-1">
                        <i class="fas fa-trash"></i></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
	
</section>
<!-- //banner -->
                   

<section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="row mt-5 text-center">
            <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                <div class="counter">
                    <span class="fa fa-users"></span>
                    <div class="timer count-title count-number">
                        {{ students }}
                    </div>
                    <p class="count-text text-uppercase">Nombre d'étudiants</p>
                </div>
            </div>
            
        </div>
    </div>
</section>


<div>
    {% for class in classes %}
        <h4>{{ class.name }} : <a href="class/{{ class.id }}">infos</a></h4>
    {% endfor %}
</div>
{% include "myapp/layouts/footer.html" %}
</body>