{% load static %}
<html>
<head>
<title>Création utilisateur</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
</head>
<body>
{% include "myapp/layouts/header.html" %}
<h1>Créer un nouveau Utilisateur</h1>
<form  action="create_user" method="post">
      {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">firstName</label>
      {{form.firstName}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">lastName</label>
      {{form.lastName}}
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">username</label>
      {{form.username}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Role</label>
      {{form.droit}}
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      {{form.email}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">mot de passe</label>
      {{form.password}}
    </div>
  </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</body>
</html>
