{% load static %}
<html lang="en">
<head>
<title>Myges</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
</head>
<body>
{% include "myapp/layouts/header.html" %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			<li>
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">La junior de l'intelligence informatique.</h3>
								<h4 class="text-wh">à votre service pour trouver des solutions</h4>
								<div class="buttons mt-4">
									<a href="#" class="btn mr-2">Contactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
                                <h3 class="text-wh">La junior de l'intelligence informatique.</h3>
								<h4 class="text-wh">à votre service pour trouver des solutions</h4>
								<div class="buttons mt-4">
									<a href="about.html" class="btn mr-2">Contactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">La junior de l'intelligence informatique.</h3>
								<h4 class="text-wh">à votre service pour trouver des solutions</h4>
								<div class="buttons mt-4">
									<a href="about.html" class="btn mr-2">Conteactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="overlay1">
						<div class="container">
							<div class="w3layouts-banner-info">
                                <h3 class="text-wh">La junior de l'intelligence informatique.</h3>
								<h4 class="text-wh">à votre service pour trouver des solutions</h4>
								<div class="buttons mt-4">
									<a href="about.html" class="btn mr-2">Contactez-nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
</section>
<!-- //banner -->

<section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="row mt-5 text-center">
            <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                <div class="counter">
                    <span class="fa fa-users"></span>
                    <div class="timer count-title count-number">
                        {{ students }}
                    </div>
                    <p class="count-text text-uppercase">Nombre d'étudiants</p>
                </div>
            </div>
                {% if is_student %}
                    <a href="promotion">
                    <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-folder-open"></span>
                            <p class="count-text text-uppercase">Voir mes promos</p>
                       </div>
                  </div>
                    </a>
                {% endif %}

                {% if is_coordinator %}
                    <a href="create_user">
                    <div class="col-lg-3 col-6 mt-lg-0 mt-5">
                        <div class="counter">
                            <span class="fa fa-folder-open"></span>
                            <p class="count-text text-uppercase">Créer un utilisateur</p>
                       </div>
                  </div>
                    </a>
                {% endif %}
        </div>
    </div>
</section>


<div>
    {% for class in classes %}
        <h4>{{ class.name }} : <a href="class/{{ class.id }}">infos</a></h4>
    {% endfor %}
</div>
{% include "myapp/layouts/footer.html" %}
</body>